.newsletter_input_container {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid $main-text-color;
        color: $main-text-color;
        outline: none;

        &::placeholder {
            color: $main-text-color;
        }

        &:focus {
            border: 1px solid $white-color;
        }
    }

    button {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 133px;
        right: 0;
        border: none;
        background-color: $main-text-color;
        color: $white-color;
        text-align: center;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;
    }
}