.hero_section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }

  h1 {
    color: $white-color;
  }

  p {
    color: $white-color;
    max-width: 566px;
  }
}