* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.25s all ease-in-out;
}
body {
  background-color: var(--main-text-color);
  overflow-x: hidden;
}

#root {
}

.container {
  max-width: 1700px !important;
  padding: 0px 15px;
}

.display-none {
  display: none !important;
}

//  SCROLL BAR
::-webkit-scrollbar {
  background: var(--gray-color);
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-text-color);
}

// Text Selection
::-moz-selection {
  /* Code for Firefox */
  color: var(--main-text-color);
  background: #619da1;
}

::selection {
  color: var(--main-text-color);
  background: #619da1;
}
