.button {
  position: relative;
  max-width: 141px;
  width: 100%;
  height: 35px;
  padding: 5px 15px;
  background-color: $main-text-color;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: $s-font-size;
  font-family: $font-medium;
  font-weight: 500;
  border: none;
  color: $white-color;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    &::after {
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }
}
